name: Build Plugin

on:
  workflow_call:
    inputs:
      plugin_directory:
        description: "Directory of the plugin"
        required: true
        type: string
    secrets:
      COMMIT_KEY:
        required: true
      FOSSA_API_KEY:
        required: true
  workflow_dispatch:
    inputs:
      plugin_directory:
        description: "Directory of the plugin"
        required: true
        type: choice
        options:
          - sam-event-mesh-gateway
          - sam-mongodb
          - sam-sql-database
          - sam-geo-information
          - sam-rest-gateway
          - sam-webhook-gateway
          - sam-bedrock-agent
          - sam-mermaid
          - sam-slack

permissions:
  contents: write
  pull-requests: write
  actions: write
  statuses: write
  checks: write
  repository-projects: read

jobs:
  build-plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          sparse-checkout: ${{ inputs.plugin_directory }}

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.12"
      - name: Cache pip
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3.5.0
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
      - name: Install Hatch
        shell: bash
        run: |
          python -m pip install --upgrade pip -q
          pip install hatch -q
          pip install virtualenv pipdeptree -q

      # - name: Test Plugin
      #   shell: bash
      #   run: |
      #     cd ${{ inputs.plugin_directory }}/
      #     ls -la
      #     dir=$(pwd)
      #     echo "Directory: $dir"
      #     hatch run pip install solace-agent-mesh twine -q
      #     hatch run solace-agent-mesh plugin add test-${{ inputs.plugin_directory }} --plugin $dir
      #     hatch test

      # - name: Install dependencies
      #   shell: bash
      #   run: |
      #     cd ${{ inputs.plugin_directory }}
      #     hatch build
      #     ls dist/*.tar.gz | xargs -n1 hatch run python -m twine check
      #     ls dist/*.whl | xargs -n1 hatch run python -m twine check

      - name: sca-scan
        uses: SolaceDev/solace-public-workflows/.github/actions/sca/sca-scan@main
        with:
          scanners: "fossa"
          additional_scan_params: |
            fossa.branch=${{ github.event.pull_request.number && 'PR' || github.event.repository.default_branch }}
            fossa.revision=${{ github.event.pull_request.number && github.head_ref || github.sha }}
            fossa.project=${{ inputs.plugin_directory }}
            fossa.path=${{ inputs.plugin_directory }}
          fossa_api_key: ${{ secrets.FOSSA_API_KEY }}


      - name: FOSSA Licensing
        id: fossa_licensing
        if: ${{ always() }}
        uses: SolaceDev/solace-public-workflows/.github/actions/fossa-guard@main
        continue-on-error: true
        with:
          fossa_api_key: ${{ secrets.FOSSA_API_KEY }}
          fossa_project_id: "${{ github.repository_owner }}_${{ inputs.plugin_directory }}"
          fossa_branch: ${{ github.event.pull_request.number && 'PR' || github.event.repository.default_branch }}
          fossa_revision: ${{ github.event.pull_request.number && github.head_ref || github.sha }}
          fossa_category: licensing
          fossa_mode: BLOCK
          block_on: policy_conflict

      - name: FOSSA Security Vulnerabilities
        id: fossa_vulnerabilities
        if: ${{ always() }}
        uses: SolaceDev/solace-public-workflows/.github/actions/fossa-guard@specify_fossa_config_path
        continue-on-error: true
        with:
          fossa_api_key: ${{ secrets.FOSSA_API_KEY }}
          fossa_project_id: "${{ github.repository_owner }}_${{ inputs.plugin_directory }}"
          fossa_branch: ${{ github.event.pull_request.number && 'PR' || github.event.repository.default_branch }}
          fossa_revision: ${{ github.event.pull_request.number && github.head_ref || github.sha }}
          fossa.path: ${{ inputs.plugin_directory }}
          fossa.config_path: ${{ inputs.plugin_directory }}/.fossa.yml
          fossa_category: vulnerability
          fossa_mode: BLOCK
          block_on: critical,high
